<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel_project.hotel_jpa.country.mapper.CountryMapper">

    <!-- 이름 검색 통합 (페이지네이션, 검색어 없으면 전체 조회) -->
    <select id="findByName" resultType="com.hotel_project.hotel_jpa.country.dto.CountryDto">
        SELECT id, country_name as countryName, idd
        FROM country_tbl
        <where>
            <if test="countryName != null and countryName != ''">
                country_name LIKE CONCAT('%', #{countryName}, '%')
            </if>
        </where>
        ORDER BY id ASC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 개수 조회 (검색어 없으면 전체 개수) -->
    <select id="countByName" resultType="long">
        SELECT COUNT(*)
        FROM country_tbl
        <where>
            <if test="countryName != null and countryName != ''">
                country_name LIKE CONCAT('%', #{countryName}, '%')
            </if>
        </where>
    </select>

</mapper>
