<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel_project.member_jpa.member.mapper.MemberMapper">


    <!-- ID로 회원 조회 -->
    <select id="findById" parameterType="Long" resultType="com.hotel_project.member_jpa.member.dto.MemberDto">
        SELECT id, first_name, last_name, email, phone_number, password,
               provider, provider_id, road_address, detail_address,
               created_at, updated_at
        FROM member_tbl
        WHERE id = #{id}
    </select>

    <!-- 이메일과 Provider로 회원 조회 (일반 로그인용) -->
    <select id="findByEmailAndProvider" resultType="com.hotel_project.member_jpa.member.dto.MemberDto">
        SELECT id, first_name, last_name, email, phone_number, password,
               provider, provider_id, road_address, detail_address,
               created_at, updated_at
        FROM member_tbl
        WHERE email = #{email} AND provider = #{provider}
    </select>
    <!-- Provider와 ProviderId로 회원 조회 (소셜 로그인용) -->
    <select id="findByProviderAndProviderId" resultType="com.hotel_project.member_jpa.member.dto.MemberDto">
        SELECT id, first_name, last_name, email, phone_number, password,
               provider, provider_id, road_address, detail_address,
               created_at, updated_at
        FROM member_tbl
        WHERE provider = #{provider} AND provider_id = #{providerId}
    </select>

</mapper>